In [1]:
#first program
print("hello world")

hello world

In [2]:
# print words in two line, use \n to change the line
print("hello \n world")

hello
 world

In [3]:
#type command is used to check the nature of the input, either they are folating point value or the integers or the strings.
type(20.43)

float

In [4]:
type("my name is gaurav luitel")

str

In [5]:
type(32)

int

In [11]:
type(True)

bool

In [12]:
type(False)

bool

In [6]:
#type casting, changing the form of type; float to int
int(2.2)

2

In [7]:
#int to float
float(2)

2.0

In [9]:
#int to string
str("22")

'22'

In [10]:
#float to string
str("22.22")

'22.22'

In [18]:
#check the python version
import sys
print(sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [4]:
name="MICHAEL JACKSON"
print(name[0])
print(name[-15])
print(name[0:12])
print(name[4:11])
print(name[0:11:2])
print(name[::2])#prints the elements alternatively from 1st position untill the end of the string
print(name[0:15:2])

M
M
MICHAEL JACK
AEL JAC
MCALJC
MCALJCSN
MCALJCSN

In [8]:
'M'+'I'+'C'+'H'+'A'+'E'+'l'

'MICHAEl'

In [9]:
ratings=(10,9,6,5,10,9,6,2)
Sort=sorted(ratings)
Sort

[2, 5, 6, 6, 9, 9, 10, 10]

In [47]:
ratings=(10,9,6,5,10,9,6,2)
ratings_1=ratings
ratings_1

(10, 9, 6, 5, 10, 9, 6, 2)

In [77]:
#tuples nesting
tuples=(1,2,"metallica",("michael", "jackson"),(("bob", "marley"),("john", "lenon")), ("Linkin", "park"),(5,2),3,2)
tuples[3][1][0]

'j'

In [2]:
# .extend command adds the new element to the existing list
lists=[1,2,"metallica",("michael", "jackson"),(("bob", "marley"),("john", "lenon")), ("Linkin", "park"),(5,2),3,2]
lists.extend(["kurt", "cobain"])
lists

[1,
 2,
 'metallica',
 ('michael', 'jackson'),
 (('bob', 'marley'), ('john', 'lenon')),
 ('Linkin', 'park'),
 (5, 2),
 3,
 2,
 'kurt',
 'cobain']

In [4]:
# insert the element in the list
lists.insert(2, "kandara")
lists

[1,
 2,
 'kandara',
 'metallica',
 ('michael', 'jackson'),
 (('bob', 'marley'), ('john', 'lenon')),
 ('Linkin', 'park'),
 (5, 2),
 3,
 2,
 'kurt',
 'cobain']

In [6]:
# .pop() removes the last elemet
lists.pop()
lists

[1,
 2,
 'kandara',
 'metallica',
 ('michael', 'jackson'),
 (('bob', 'marley'), ('john', 'lenon')),
 ('Linkin', 'park'),
 (5, 2),
 3,
 2]

In [8]:
# .index finds out index of the elements in a list.
lists.index("metallica")

3

In [84]:
# .append command adds the new list inside the existing list
lists=[1,2,"metallica",("michael", "jackson"),(("bob", "marley"),("john", "lenon")), ("Linkin", "park"),(5,2),3,2]
lists.append(["kurt","cobain"])
lists

[1,
 2,
 'metallica',
 ('michael', 'jackson'),
 (('bob', 'marley'), ('john', 'lenon')),
 ('Linkin', 'park'),
 (5, 2),
 3,
 2,
 ['kurt', 'cobain']]

In [15]:
#list[] command replacess the elemet in the list
lists=[1,2,"metallica",("michael", "jackson"),(("bob", "marley"),("john", "lenon")), ("Linkin", "park"),(5,2),3,2]
lists[4]="bon jovi"
lists

[1,
 2,
 'metallica',
 ('michael', 'jackson'),
 'bon jovi',
 ('Linkin', 'park'),
 (5, 2),
 3,
 2]

In [14]:
#del(....[]) command removes the elemet from the list
lists=[1,2,"metallica",("michael", "jackson"),(("bob", "marley"),("john", "lenon")), ("Linkin", "park"),(5,2),3,2]
del(lists[3])
lists

[1,
 2,
 'metallica',
 (('bob', 'marley'), ('john', 'lenon')),
 ('Linkin', 'park'),
 (5, 2),
 3,
 2]

In [95]:
# .split() command splits the elements and make seperate elements 
y="michael jackson".split()
y

['michael', 'jackson']

In [23]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [114]:
# sets are also the lists of the elements encolsed inside the curly brackets.
sets_A={2,3,4,5,-4,2,9,-2}
sets_A

{-4, -2, 2, 3, 4, 5, 9}

In [104]:
#changes list to set(sets are arranged inside the curly brackets), also it remove the repeated elements
places_lists=["kathmandu", "pokhara", "biratnagar", "chitwan","kathmandu","pokhara"]
places_set=set(places_lists)
places_set

{'biratnagar', 'chitwan', 'kathmandu', 'pokhara'}

In [111]:
# .add adds the elemets in the set
places_sets={"kathmandu", "pokhara", "biratnagar", "chitwan","kathmandu"}
places_sets.add("urlabari")
places_sets

{'biratnagar', 'chitwan', 'kathmandu', 'pokhara', 'urlabari'}

In [113]:
# .remove removes the elemets from the set
places_sets={"kathmandu", "pokhara", "biratnagar", "chitwan","kathmandu","pokhara"}
places_sets.remove("chitwan")
places_sets

{'biratnagar', 'kathmandu', 'pokhara'}

In [115]:
# in command checks whether the element lies in the set or not, if yes it returns "True" else "False".
places_sets={"kathmandu", "pokhara", "biratnagar", "chitwan","kathmandu","pokhara"}
"pokhara" in places_sets

True

In [117]:
# & operator gives the common elements of two sets(i.e. intersection of sets)
album_set_1={"AC-DC","thriller is gone","the doors","dark side of the moon","Always"}
album_set_2={"back in black", "chinese democracy","AC-DC","the doors"}
album_set_3=album_set_1&album_set_2
album_set_3

{'AC-DC', 'the doors'}

In [28]:
# .union operator combines all elements to form a union of multiple sets.
album_set_1={"AC-DC","thriller is gone","the doors","dark side of the moon","Always"}
album_set_2={"back in black", "chinese democracy","AC-DC","the doors"}
album_set_3={"AC-DC","the doors","blink 182","RHCP"}
album_set_1.union(album_set_2).union(album_set_3)

{'AC-DC',
 'Always',
 'RHCP',
 'back in black',
 'blink 182',
 'chinese democracy',
 'dark side of the moon',
 'the doors',
 'thriller is gone'}

In [31]:
# .issubset checks whether the set is a subset of another set or not. if yes it returns "True" else "False"
album_set_1={"AC-DC","thriller is gone","the doors","dark side of the moon","john bon jovi"}
album_set_2={"back in black", "chinese democracy","AC-DC","the doors"}
album_set_3={"AC-DC","the doors","blink 182"}
album_set_3.issubset(album_set_2)

False

In [2]:
# .difference prints the elements contained only in one set
album_set_1={"AC-DC","thriller is gone","the doors","dark side of the moon","Always"}
album_set_2={"back in black", "chinese democracy","AC-DC","the doors"}
album_set_2.difference(album_set_1)

{'back in black', 'chinese democracy'}

In [33]:
# .intersection prints the common elements of two sets
album_set_1={"AC-DC","thriller is gone","the doors","dark side of the moon","Always"}
album_set_2={"back in black", "chinese democracy","AC-DC","the doors"}
album_set_1.intersection(album_set_2)

{'AC-DC', 'the doors'}

In [3]:
#Dictionary 
Dict={"key1":9, "key2":11, "key3":4, "key4":8}
Dict["key2"]

11

In [129]:
# adding keys and values in the dictionary
Dict={"key1":9, "key2":11, "key3":4, "key4":8}
Dict["key5"]="6"
Dict

{'key1': 9, 'key2': 11, 'key3': 4, 'key4': 8, 'key5': '6'}

In [131]:
# "del" is used for deleting the keys and its value from the dictionary
Dict={"key1":9, "key2":11, "key3":4, "key4":8}
del(Dict["key1"])
Dict

{'key2': 11, 'key3': 4, 'key4': 8}

In [133]:
# "in" command checks whether the key and its value exist inside the dictionary or not
Dict={"key1":9, "key2":11, "key3":4, "key4":8}
"key5" in Dict

False

In [2]:
# ".keys" command lists out all of the keys from the dictionary
Dict={"key1":9, "key2":11, "key3":4, "key4":8}
print(Dict.keys())

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [35]:
# ".values" command lists out all of the values corresponidg to the key from the dictionary
Dict={"key1":9, "key2":11, "key3":4, "key4":8}
Dict.values()

dict_values([9, 11, 4, 8])

In [4]:
#change the value of corresponding key
car ={ "brand": "Ford", "model": "Mustang", "year": 1964 }
car["year"]= 2020
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [12]:
# .pop method removes the key and its value from the dictionary
places = {"kathmandu":"Nepal","colombo":"srilanka","thimpu":"bhutam","rangoon":"burma"}
places.pop("kathmandu")
places

{'colombo': 'srilanka', 'thimpu': 'bhutam', 'rangoon': 'burma'}

In [13]:
# .clear method removes every keys and its values from the dictionary
places = {"kathmandu":"Nepal","colombo":"srilanka","thimpu":"bhutam","rangoon":"burma"}
places.clear()
places

{}

In [5]:
#creating dataFrame using pandas library
import pandas as pd
df = pd.DataFrame({"debit":[100,111,121,124], "credit":[25,43,67,33]})
df

   debit  credit
0    100      25
1    111      43
2    121      67
3    124      33

In [22]:
#lambda function
df = df.apply(lambda x:x["debit"]+1, axis=1)
df

0    101
1    112
2    122
3    125
dtype: int64

In [21]:
df.apply(lambda x:x["credit"]+1, axis=1)

0    26
1    44
2    68
3    34
dtype: int64